<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>city1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,308},{100,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,59}}</string>
                <key>sourceSize</key>
                <string>{100,59}</string>
            </dict>
            <key>city1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,206},{100,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,59}}</string>
                <key>sourceSize</key>
                <string>{100,59}</string>
            </dict>
            <key>city1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,104},{100,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,59}}</string>
                <key>sourceSize</key>
                <string>{100,59}</string>
            </dict>
            <key>city2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{100,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,59}}</string>
                <key>sourceSize</key>
                <string>{100,59}</string>
            </dict>
            <key>city2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{100,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,59}}</string>
                <key>sourceSize</key>
                <string>{100,59}</string>
            </dict>
            <key>city2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{100,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,59}}</string>
                <key>sourceSize</key>
                <string>{100,59}</string>
            </dict>
            <key>city3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{100,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,59}}</string>
                <key>sourceSize</key>
                <string>{100,59}</string>
            </dict>
            <key>city3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{100,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,59}}</string>
                <key>sourceSize</key>
                <string>{100,59}</string>
            </dict>
            <key>city3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,59}}</string>
                <key>sourceSize</key>
                <string>{100,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19ca24fb318dd6d80f51ad3adb527919$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
